<div class="artist-card">
  <div class="artist-card-gradient">
    <div class="artist-card-hover">
      <h4>Dakooka</h4>
      <p class="additional-text">
        Singer, producer, and composer whose music fuses trip-hop, indie,
        electronic, and ethnic styles with emotionally rich lyrics and a
        distinctive sound.
      </p>
      <a href="" class="button-additional"
        >Read more
        <img class="icon-small" src="/src/img/icons/arrow-right.svg" alt=""
      /></a>
    </div>
  </div>
</div>
