<footer>
  <div class="footer-contact">
    <div class="contact-info">
      <a href=""><img src="/src/img/icons/mail.svg" alt="" /></a>
      <p class="footer-main-text">press@moon.ua</p>
    </div>
    <div class="contact-info">
      <a href=""><img src="/src/img/icons/phone.svg" alt="" /></a>
      <p class="footer-main-text">+38 098 2255747</p>
    </div>
    <div class="contact-info">
      <a href=""><img src="/src/img/icons/location.svg" alt="" /></a>
      <p class="footer-main-text">Adam Mickiewicz Street 9/9</p>
    </div>
  </div>
  <div class="footer-main">
    <img class="logo" src="/src/img/Logo_label.svg" alt="" />
    <div class="footer-nav">
      <div class="footer-nav-company">
        <p class="footer-nav-titre">Company</p>
        <div class="footer-nav-main">
          <a class="footer-main-text" href="">About</a>
          <a class="footer-main-text" href="">News</a>
          <a class="footer-main-text" href="">Artists</a>
          <a class="footer-main-text" href="">Events</a>
          <a class="footer-main-text" href="">Merch</a>
        </div>
      </div>
      <div class="footer-nav-links">
        <p class="footer-nav-titre">Useful links</p>
        <div class="footer-nav-main">
          <a class="footer-main-text" href="">Help</a>
          <a class="footer-main-text" href="">Contact</a>
          <a class="footer-main-text" href="">F&Q</a>
        </div>
      </div>
      <div class="footer-newsletter">
        <p class="footer-nav-titre">Sign up to our newsletter</p>
        <div class="newsletter-form">
          <div class="newsletter-email">e-mail</div>
          <a href="" class="button-secondary-solid">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="icons-footer">
    <ul class="social-icons">
      <li><img src="/src/img/icons/spotify.svg" alt="spotify" /></li>
      <li>
        <img src="/src/img/icons/soundcloud.svg" alt="soundcloud" />
      </li>
      <li><img src="/src/img/icons/facebook.svg" alt="facebook" /></li>
      <li><img src="/src/img/icons/instagram.svg" alt="instagram" /></li>
      <li><img src="/src/img/icons/youtube.svg" alt="youtube" /></li>
    </ul>
  </div>
  <p class="footer-text-small">
    ⓒ 2025 MoonRecordsUkraine. All Rights Reserved.
  </p>
</footer>
