<header>
  <img class="logo" src="/src/img/Logo_label.svg" alt="" />
  <nav>
    <a href="">About</a>
    <a href="">News</a>
    <a href="">Artists</a>
    <a href="">Events</a>
    <a href="">Merch</a>
    <a href="">Contact</a>
  </nav>
  <div class="icons-header">
    <ul class="social-icons">
      <li><img src="/src/img/icons/spotify.svg" alt="spotify" /></li>
      <li>
        <img src="/src/img/icons/soundcloud.svg" alt="soundcloud" />
      </li>
      <li><img src="/src/img/icons/facebook.svg" alt="facebook" /></li>
      <li><img src="/src/img/icons/instagram.svg" alt="instagram" /></li>
      <li><img src="/src/img/icons/youtube.svg" alt="youtube" /></li>
    </ul>
  </div>
</header>
