<header>
  <img class="logo" src="/src/img/Logo_label.svg" alt="" />
  <nav>
    <a href="/src/index.html">About</a>
    <a href="">News</a>
    <a href="">Artists</a>
    <a href="">Events</a>
    <a href="">Merch</a>
    <a href="">Contact</a>
  </nav>
  <div class="social-icons">
    <a href=""><img src="/src/img/icons/spotify.svg" alt="spotify" /></a>
    <a href="">
      <img src="/src/img/icons/soundcloud.svg" alt="soundcloud" />
    </a>
    <a href=""><img src="/src/img/icons/facebook.svg" alt="facebook" /></a>
    <a href=""><img src="/src/img/icons/instagram.svg" alt="instagram" /></a>
    <a href=""><img src="/src/img/icons/youtube.svg" alt="youtube" /></a>
  </div>
  <a class="menu-header" href=""
    ><img src="/src/img/icons/menu.svg" alt=""
  /></a>
</header>
