@font-face {
  font-family: "Maligne";
  src: url("../fonts/Maligne/Trial_WOFF2/MaligneUnlicensedTrial-Medium.woff2")
      format("woff2"),
    url("/src/fonts/Maligne/Trial_WOFF/MaligneUnlicensedTrial-Medium.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Maligne", sans-serif;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  background-color: #141414;
}

header {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.social-icons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.social-icons li {
  display: flex;
  align-items: center;
}

.hero-label {
  background: url(/src/img/image-main.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  padding: 80px 130px;
}

.quote {
  font-family: Saira;
  text-transform: uppercase;
  color: var(--white-50, rgba(255, 255, 255, 0.5));
  line-height: 130%;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.quote-1 {
  max-width: 363px;
}

.quote-2 {
  max-width: 273px;
}

.moon-records-main {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
}

.mission-part1,
.mission-part2 {
  font-family: Saira;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 12px;
}

.mission-part2 {
  text-align: right;
}

h1 {
  font-size: 140px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.title-hero {
  color: white;
}

.button-primary-outline {
  display: inline-block;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--Radius-30, 30px);
  border: 1px solid #fff;
}
