@font-face {
  font-family: "Maligne";
  src: url("../fonts/Maligne/Trial_WOFF2/MaligneUnlicensedTrial-Medium.woff2")
      format("woff2"),
    url("/src/fonts/Maligne/Trial_WOFF/MaligneUnlicensedTrial-Medium.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Maligne Unlicensed Trial", sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #141414;
}

header {
  padding: 14px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-header {
  display: none;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

nav a:hover {
  text-shadow: 2px 0px 0 #d04011, 4px 0px 0 #b7261a, 6px 0px 0 #892219;
  color: #ff7000;
}

.social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-icons a {
  display: flex;
  align-items: center;
}

.hero-label {
  background: url(/src/img/image-main.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 90vh;
  padding: 80px 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote {
  font-family: Saira, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  line-height: 130%;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.quote-1 {
  max-width: 363px;
}

.quote-2 {
  margin-top: 104px;
  max-width: 273px;
}

.moon-records-main {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
}

.mission-part1,
.mission-part2 {
  font-family: Saira, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 12px;
}

.mission-part2 {
  text-align: right;
}

h1 {
  font-size: 140px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.title-hero {
  color: white;
}

.button-primary-outline {
  display: inline-block;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #fff;
}

.button-primary-outline:hover {
  box-shadow: 0 0 10px 0 var(--white-100, #fff);
}

.about-numbers {
  display: flex;
  padding: 100px 140px;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.releases,
.awards,
.vinyl,
.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-numbers-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 82px;
  font-weight: 700;
  color: #fff;
}

.main-text {
  font-family: Saira, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  color: #fff;
}

.numbers-circles img {
  max-width: 116px;
}

.featured-artists {
  padding: 0 70px 100px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: Saira, sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 33.6px;
  text-transform: uppercase;
  color: #ff7000;
}

.main-title {
  transform: translateX(-25px);
  color: #ff7000;
  text-shadow: 10px 0px 0 #ec5d08, 20px 0px 0 #d04011, 30px 0px 0 #b7261a,
    40px 0px 0 #892219, 50px 0px 0 rgba(137, 34, 25, 0.5);
}

/* .main-title:hover {
  text-shadow: 15px 0px 0 #ec5d08, 25px 0px 0 #d04011, 35px 0px 0 #b7261a,
    45px 0px 0 #892219, 55px 0px 0 rgba(137, 34, 25, 0.5);
} */

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.button-secondary-outline {
  display: flex;
  width: fit-content;
  padding: 12px 24px;
  gap: 10px;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #fff;
}

.button-secondary-outline:hover {
  box-shadow: 0 0 10px 0 var(--white-100, #fff);
}

.featured-artists .title-section {
  padding-bottom: 30px;
}

.artists-cards {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.artist-card {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.artist-card img {
  width: 100%;
}

.artist-card-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 30px;
  opacity: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(183, 38, 26, 0.6) 70%
  );
}

.artist-card-hover:hover {
  opacity: 1;
}

h4 {
  font-family: Saira, sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  /* margin-bottom: 10px; */
}

.additional-text {
  font-family: Saira, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.button-additional {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.icon-small {
  max-width: 9px;
  /* белый 50% */
}

.latest-releases {
  margin-bottom: 100px;
}

.banner-latest-releases {
  width: 100%;
  position: relative;
  margin-top: 60px;
  overflow: hidden;
}

.latest-releases-bg {
  width: 100%;
  position: relative;
  height: auto;
}

.latest-releases-vinyl {
  position: absolute;
  top: -20%;
  right: -12%;
  width: 55%;
  animation: spin 10s linear infinite;
}

.yarra-info {
  top: 35.3%;
  left: 9.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.banner-latest-releases .button-primary-outline {
  margin-top: 20px;
}

.carousel-dots {
  position: absolute;
  left: 47%;
  bottom: 1%;
  display: flex;
  gap: 15px;
  align-items: flex-end;
  padding-bottom: 40px;
}

.carousel-dot-inactive {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ff7000;
}

.carousel-dot-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ff7000;
  box-shadow: 0 0 0 3px #141414, 0 0 0 4px #ff7000, 0 0 0 7px #141414,
    0 0 0 8px #ff7000;
  transform: translateY(-3px);
}

.behind-scenes {
  display: flex;
  flex-direction: column;
  margin: 0 140px 100px 140px;
}

.behind-scenes-photos {
  margin-top: 60px;
  margin-bottom: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "camera singer concert-int"
    "recording studio concert-int"
    "recording concert-ext concert-ext";
  gap: 0;
}

.behind-scenes .button-secondary-outline {
  align-self: flex-end;
}

.camera {
  aspect-ratio: 1 / 1;
  grid-area: camera;
  background-image: url(/src/img/behind-scenes/camera.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.singer {
  aspect-ratio: 1 / 1;
  grid-area: singer;
  background-image: url(/src/img/behind-scenes/singer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.concert-int {
  aspect-ratio: 1 / 2;
  grid-area: concert-int;
  background-image: url(/src/img/behind-scenes/concert-int.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.recording {
  aspect-ratio: 1 / 2;
  grid-area: recording;
  background-image: url(/src/img/behind-scenes/recording.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.studio {
  aspect-ratio: 1 / 1;
  grid-area: studio;
  background-image: url(/src/img/behind-scenes/studio.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.concert-ext {
  aspect-ratio: 2 / 1;
  grid-area: concert-ext;
  background-image: url(/src/img/behind-scenes/concert-ext.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Cmd + K, затем Cmd + C
Комментирует выделенный блок.

Cmd + K, затем Cmd + U
Снимает комментарий. */

footer {
  padding: 80px 140px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #fff;
  opacity: 0.5;
  padding-bottom: 20px;
}

.footer-main-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-main {
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav-titre {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav {
  display: flex;
  padding-top: 10px;
  align-items: flex-start;
  gap: 135px;
  width: 74%;
  justify-content: space-between;
}

.footer-nav a:hover {
  color: #ff7000;
}

.footer-nav-main {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-nav-company,
.footer-nav-links,
.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-newsletter {
  flex-wrap: wrap;
}

.newsletter-form input {
  margin: 0;
  display: flex;
  min-width: 250px;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: transparent;
}

.button-secondary-solid {
  display: flex;
  width: fit-content;
  padding: 12px 24px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #fff;
  color: #141414;
}

.button-secondary-solid:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.icons-footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer-text-small {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.get-in-touch {
  display: flex;
  justify-content: space-between;
  padding: 100px 140px;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0) 0%,
    rgba(183, 38, 26, 0.64) 100%
  );
}

.get-in-touch-text {
  max-width: 320px;
}

.get-in-touch-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 50%;
}

.text-small {
  font-size: 14px;
  font-weight: 300;
  font-family: Saira, sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.get-in-touch-reason select {
  font-size: 14px;
  color: #fff;
  appearance: none;
  background-image: url(/src/img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 32px center;
}

.get-in-touch-form input,
select,
textarea {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: Saira, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.get-in-touch-perso {
  display: flex;
  gap: 18px;
}

.get-in-touch-name,
.get-in-touch-email {
  width: 100%;
}

.get-in-touch-message textarea {
  min-height: 126px;
}

/* .checkbox {
  display: flex;
  gap: 10px;
} */

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

/* Скрываем стандартный чекбокс */
.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Рисуем свой чекбокс */
.checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background: transparent;
  position: relative;
  flex-shrink: 0;
}

.checkmark::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/src/img/icons/arrow-down.svg");
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: 0.2s;
}

/* Когда чекбокс активен */
.checkbox input:checked + .checkmark::after {
  opacity: 1;
}

.get-in-touch a {
  align-self: flex-end;
}

@media (min-width: 375px) and (max-width: 768px) {
  header {
    padding: 14px 60px;
  }

  .menu-header {
    display: block;
  }

  nav,
  .icons-header {
    display: none;
  }

  .hero-label {
    padding: 60px 36px;
    justify-content: space-between;
  }

  .moon-records-main {
    align-items: flex-start;
    gap: 20px;
  }

  .quote {
    line-height: 130%;
    font-size: 18px;
    display: flex;
    text-align: center;
  }

  .quote-1 {
    max-width: 60%;
  }

  .quote-2 {
    margin-top: 120px;
    max-width: 50%px;
  }

  .mission-part1,
  .mission-part2 {
    font-size: 20px;
    letter-spacing: 8px;
  }

  .mission-part2 {
    text-align: start;
  }

  .button-primary-outline {
    padding: 12px 24px;
    font-size: 14px;
  }

  h1 {
    font-size: 64px;
  }

  .main-title {
    transform: translateX(-17px);
    text-shadow: 7px 0px 0 #ec5d08, 14px 0px 0 #d04011, 21px 0px 0 #b7261a,
      29px 0px 0 #892219, 36px 0px 0 rgba(137, 34, 25, 0.5);
  }

  h3 {
    font-size: 20px;
    letter-spacing: 17px;
  }

  h4 {
    font-size: 20px;
  }

  .main-text {
    font-size: 12px;
  }

  .about-numbers {
    padding: 60px 36px;
    justify-content: center;
  }

  .featured-artists {
    padding: 0 36px 60px 36px;
  }

  .artists-cards {
    grid-template-columns: 1fr;
  }

  .latest-releases {
    margin-bottom: 60px;
  }

  .banner-latest-releases .button-primary-outline {
    margin-top: 20px;
  }

  .yarra-info {
    padding: 10px 20px;
    max-width: 70%;
    text-align: center;
  }

  .carousel-dot-inactive {
    width: 14px;
    height: 14px;
  }

  .carousel-dot-active {
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 2px #141414, 0 0 0 3px #ff7000, 0 0 0 5px #141414,
      0 0 0 6px #ff7000;
  }

  .behind-scenes {
    margin: 0 36px 40px 36px;
  }

  .get-in-touch {
    flex-direction: column;
    gap: 20px;
    padding: 40px 36px;
  }

  footer {
    padding: 20px 36px;
  }

  .footer-main {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  .footer-contact {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  header {
    padding: 14px 60px;
  }

  .icons-header {
    display: none;
  }

  .hero-label {
    padding: 60px 70px;
  }

  h1 {
    font-size: 92px;
  }

  .main-title {
    transform: translateX(-17px);
    text-shadow: 7px 0px 0 #ec5d08, 14px 0px 0 #d04011, 21px 0px 0 #b7261a,
      29px 0px 0 #892219, 36px 0px 0 rgba(137, 34, 25, 0.5);
  }

  h3 {
    font-size: 32px;
    letter-spacing: 21px;
  }

  .featured-artists {
    padding: 0 70px 60px 70px;
  }

  .artists-cards {
    grid-template-columns: 1fr 1fr;
  }

  .latest-releases {
    margin-bottom: 60px;
  }

  .yarra-info {
    padding: 10px 20px;
    max-width: 70%;
    text-align: center;
    left: 0;
    top: 0;
  }

  .behind-scenes {
    margin: 0 70px 40px 70px;
  }

  .get-in-touch {
    gap: 20px;
    padding: 40px 70px;
  }

  footer {
    padding: 40px 70px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boombox {
  width: 100%;
  padding: 40px 120px;
  min-height: 90vh;
  background-image: url(/src/img/boombox-main.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

.artist {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.release-subtitle {
  font-family: Saira, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 10px;
  color: white;
  padding-left: 10px;
}

.artist-links img {
  width: 20px;
  height: auto;
}

.artist-links {
  display: flex;
  align-items: center;
  gap: 24px;
  opacity: 0.5;
}

.artist-new {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.artist-new a {
  margin-top: 34px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour {
  padding: 100px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concert-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 40px;
}

.concert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #ff7000;
}

.concert-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concert-date .main-text {
  color: #ff7000;
  text-transform: uppercase;
}

.tour-dates-text {
  font-size: 48px;
  font-weight: 700;
  color: #ff7000;
}

.concert-place {
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ticket-button {
  margin-top: 13px;
  display: inline-block;
  padding: 7px 14px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ff7000;
  border: 1px solid #ff7000;
  background-color: transparent;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.ticket-button img {
  position: absolute;
  transform: translateY(-50%);
  width: 20px;
  height: 18px;
  right: -10px;
  top: 50%;
}

.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px 0 100px 0;
}

.about .main-text {
  text-transform: uppercase;
  letter-spacing: 16;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-circle {
  max-width: 93px;
}

.about-origins img,
.about-influence img {
  transform: scaleX(-1);
}

.about-origins,
.about-influence {
  margin-right: auto;
  margin-left: 40.5%;
  width: 45%;
  display: flex;
  align-items: center;
  gap: 44px;
}

.about-succes {
  margin-left: auto;
  margin-right: 40.5%;
  width: 45%;
  display: flex;
  align-items: center;
  text-align: end;
  gap: 44px;
}

.band-members {
  padding-bottom: 100px;
}

.band-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 50px;
  gap: 10px;
  align-self: stretch;
}

.band-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* min-width: 256px; */
  /* min-height: 700px; */
  flex-wrap: wrap;
}

.band-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 39.42%,
    rgba(20, 20, 20, 0.8) 77.88%
  );
}

.band-card-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 40px 0;
}

.band-card-info .main-text {
  font-weight: 500;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.discography {
  padding-bottom: 100px;
}

.music {
  padding: 60px 140px 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.albums {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.album-best {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
}

.player img {
  max-height: 105px;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player-song {
  display: flex;
  align-items: center;
  gap: 22px;
  min-width: 600px;
  max-height: 105px;
  background: linear-gradient(
    270deg,
    var(--black-100, #141414) 5%,
    var(--red-main-100, #b7261a) 100%
  );
}

.player .button-secondary-outline {
  margin-top: 20px;
  align-self: flex-end;
}

.play-mode {
  margin-left: auto;
}
