@font-face {
  font-family: "Maligne";
  src: url("../fonts/Maligne/Trial_WOFF2/MaligneUnlicensedTrial-Medium.woff2")
      format("woff2"),
    url("/src/fonts/Maligne/Trial_WOFF/MaligneUnlicensedTrial-Medium.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Maligne Unlicensed Trial", sans-serif;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #141414;
}

header {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-icons li {
  display: flex;
  align-items: center;
}

.hero-label {
  background: url(/src/img/image-main.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 85vh;
  padding: 80px 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote {
  font-family: Saira;
  text-transform: uppercase;
  color: var(--white-50, rgba(255, 255, 255, 0.5));
  line-height: 130%;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.quote-1 {
  max-width: 363px;
}

.quote-2 {
  margin-top: 104px;
  max-width: 273px;
}

.moon-records-main {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
}

.mission-part1,
.mission-part2 {
  font-family: Saira;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 12px;
}

.mission-part2 {
  text-align: right;
}

h1 {
  font-size: 140px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.title-hero {
  color: white;
}

.button-primary-outline {
  display: inline-block;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--Radius-30, 30px);
  border: 1px solid #fff;
}

.about-numbers {
  display: flex;
  padding: 100px 140px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.releases,
.awards,
.vinyl,
.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-numbers-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 82px;
  font-weight: 700;
  color: #fff;
}

.main-text {
  font-family: Saira, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  color: #fff;
}

.numbers-circles img {
  max-width: 116px;
}

.featured-artists {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

h3 {
  font-family: Saira;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 33.6px;
  text-transform: uppercase;
  color: #ff7000;
}

.main-title {
  color: #ff7000;
  text-shadow: 10px 0px 0 #ec5d08, 20px 0px 0 #d04011, 30px 0px 0 #b7261a,
    40px 0px 0 #892219, 50px 0px 0 rgba(137, 34, 25, 0.5);
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-secondary-outline {
  display: flex;
  width: fit-content;
  padding: 12px 24px;
  gap: 10px;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--Radius-30, 30px);
  border: 1px solid #fff;
}

/* .artists-cards {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.artist-card {
  background: url(/src/img/featured-artists/1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 340px;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  align-items: flex-end;
}

.artist-card-hover {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}

.artist-card-gradient {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(183, 38, 26, 0.6) 70%
  );
} */

h4 {
  font-family: Saira, sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.additional-text {
  font-family: Saira, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.button-additional {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white-50, rgba(255, 255, 255, 0.5));
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.icon-small {
  max-width: 9px;
  /* белый 50% */
}

.latest-releases {
  margin-bottom: 100px;
}

.banner-latest-releases {
  margin-top: 60px;
  background: url(/src/img/new-yara.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
}

.banner-new-yarra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 9.7%;
}

.banner-latest-releases .button-primary-outline {
  margin-top: 20px;
}

.carousel-dots {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  padding-bottom: 40px;
}

.carousel-dot-inactive {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  border: 1px solid var(--orange-main, #ff7000);
}

.carousel-dot-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ff7000;
  box-shadow: 0 0 0 3px #141414, 0 0 0 4px #ff7000, 0 0 0 7px #141414,
    0 0 0 8px #ff7000;
  transform: translateY(-3px);
}

.behind-scenes {
  margin: 0 140px 100px 140px;
}

.behind-scenes-photos {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "camera singer concert-int"
    "recording studio concert-int"
    "recording concert-ext concert-ext";
  gap: 0;
}

.camera {
  aspect-ratio: 1 / 1;
  grid-area: camera;
  background-image: url(/src/img/behind-scenes/camera.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.singer {
  aspect-ratio: 1 / 1;
  grid-area: singer;
  background-image: url(/src/img/behind-scenes/singer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.concert-int {
  aspect-ratio: 1 / 2;
  grid-area: concert-int;
  background-image: url(/src/img/behind-scenes/concert-int.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.recording {
  aspect-ratio: 1 / 2;
  grid-area: recording;
  background-image: url(/src/img/behind-scenes/recording.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.studio {
  aspect-ratio: 1 / 1;
  grid-area: studio;
  background-image: url(/src/img/behind-scenes/studio.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.concert-ext {
  aspect-ratio: 2 / 1;
  grid-area: concert-ext;
  background-image: url(/src/img/behind-scenes/concert-ext.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Cmd + K, затем Cmd + C
Комментирует выделенный блок.

Cmd + K, затем Cmd + U
Снимает комментарий. */

footer {
  padding: 80px 140px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--white-100, #fff);
  opacity: 0.5;
  padding-bottom: 20px;
}

.footer-main-text {
  font-family: "Maligne Unlicensed Trial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-main {
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-nav-titre {
  font-family: "Maligne Unlicensed Trial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav {
  display: flex;
  padding-top: 10px;
  align-items: flex-start;
  gap: 135px;
}

.footer-nav-main {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-nav-company,
.footer-nav-links,
.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.newsletter-form {
  display: flex;
  gap: 14px;
}

.newsletter-email {
  display: flex;
  padding: 12px 24px;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #fff;
}

.button-secondary-solid {
  display: flex;
  width: fit-content;
  padding: 12px 24px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--Radius-30, 30px);
  background-color: #fff;
  color: #141414;
}

.icons-footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer-text-small {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
